*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.start-senction{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F7F7F7;
}
.nameinput{
    width: 40%;
    padding: 10px;
    border: none;
    border-bottom: 3px solid #007bff ;
    font-size: 18px;
    color: black;
    background: transparent;
    outline: none;
}

.main{
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);
    padding: 2px 0px;
    background-color: #F7F7F7;
    width: 100%;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.start{
    border: 2px solid lightgray;

    width: 80%;
    padding: 7px 0px 7px 0px;
    border-radius: 5px;

}
.timer-btn{
    width: 100%;
    padding: 5px 13px;
    background-color: #007bff;
    color: #F7F7F7;
    border: none;
    font-weight: 600;
    border-top-left-radius:20px ;
    border-bottom-right-radius:20px ;
    margin: 7px 0px 0px 0px;
}
.ans1{
    /* border: 1px solid black; */
    background-color: #007bff;
    color: #F7F7F7;

    padding: 10px 0px 10px 10px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.ans1:hover{
    background-color: #0069D9;
}
.active{
    background-color: #0069D9;
}
.anwerr{
    padding: 15px;
}
h6{
    padding: 1px 0px 1px 10px;
    font-size: 20px; 

}
h1{
    font-size: 30px;
}
.next-btn{
    width: 120px;
    padding: 0px 10px;
    background-color: #007bff;
    color: #F7F7F7;
    border: none;
    font-weight: 500;
    text-decoration: none;
    border-top-left-radius:20px ;
    border-bottom-right-radius:20px ;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;

}
.next-btn,.start-btn:hover{
    text-decoration: none;
    background-color: #0069D9;
    color: #F7F7F7;

}
.start-btn{

    width: 120px;
    padding: 6px 10px;
    background-color: #007bff;
    color: #F7F7F7;
    border: none;
    font-weight: 500;
    text-decoration: none;
    border-top-left-radius:20px ;
    border-bottom-right-radius:20px ;
    text-decoration: none;
    cursor: pointer;
    transition: .3s;
}
.btn{
    /* border: 2px solid black; */
    margin: 0px 0px 10px 1px;
    padding: 5px 30px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width:700px) {
    h1{
        font-size: 22px !important;
        margin-top: 7px;
    }
    #quesnumber{
        font-size: 16px !important;
    }
}
@media only screen and (max-width:450px) {
    h1{
        font-size: 19px !important;
        margin-top: 12px;
    }
    ::placeholder{
        font-size: 13px;
    }
    .start{
        width: 95%;
    }
    table td{
        width: 60%;
    }

    
}
.score{
    
    width: 100%;
    background-color: #F7F7F7;
    padding: 20px;
    border-radius: 10px;
}
.score h2{
    text-align: center;
    color: #007bff;
    font-size: 40px;
    margin: 10px;
}
table{

    border-collapse: collapse;
    border: 1px solid #cccccc;
    border-radius: 10px;


}
table td{
    width: 40%;
    padding: 10px;
    border: 1px solid #cccccc;
    
}
.last-btn{
    text-align: center;
    margin: 10px;
    padding: 10px;
}
.last-btn a{
 margin: 0px 10px;
}
#required{
    color: rgb(226, 7, 7);
    font-size: 15px;
    margin: 3px 0px 0px 0px;
    visibility: hidden;
    
}
.modal-dialog{
    margin-top: 180px;
}